.parent{
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    height: 70vh;
    text-align: center;
    font-size: 20px;
    color: white;
}

.child_1{
    grid-row: 1/13;
    background-color: green;
}
.child_2{
    grid-row: 1/6;
    background-color: green;
}
.child_3{
    grid-row: 6/13;
    background-color: green;
}
.child_4{
    grid-row: 1/5;
    background-color: green;
}
.child_5{
    grid-row: 5/9;
    background-color: green;
}
.child_6{
    grid-row: 9/13;
    background-color: green;
}
.child_7{
    grid-row: 1/4;
    background-color: green;
}
.child_8{
    grid-row: 4/7;
    background-color: green;
}
.child_9{
    grid-row: 7/10;
    background-color: green;
}
.child_10{
    grid-row: 10/13;
    background-color: green;
}
.child_11{
    grid-row: 1/3;
    background-color: green;
}
.child_12{
    grid-row: 3/5;
    background-color: green;
}
.child_13{
    grid-row: 5/7;
    background-color: green;
}
.child_14{
    grid-row: 7/9;
    background-color: green;
}
.child_15{
    grid-row: 9/11;
    background-color: green;
}
.child_16{
    grid-row: 11/13;
    background-color: green;
}
.child_17{
    grid-row: 1/2;
    background-color: green;
}
.child_18{
    grid-row: 2/3;
    background-color: green;
}
.child_19{
    grid-row: 3/4;
    background-color: green;
}
.child_20{
    grid-row: 4/5;
    background-color: green;
}
.child_21{
    grid-row: 5/6;
    background-color: green;
}
.child_22{
    grid-row: 6/7;
    background-color: green;
}
.child_23{
    grid-row: 7/8;
    background-color: green;
}
.child_24{
    grid-row: 8/9;
    background-color: green;
}
.child_25{
    grid-row: 9/10;
    background-color: green;
}
.child_26{
    grid-row: 10/11;
    background-color: green;
}
.child_27{
    grid-row: 11/12;
    background-color: green;
}
.child_28{
    grid-row: 12/13;
    background-color: green;
}