.parent{
    display: grid;
    grid-template-rows: repeat(28,1fr);
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    height: 70vh;
    text-align: center;
    font-size: 20px;
    color: white;
}

.child_1{
    grid-row: 1/29;
    background-color: green;
}
.child_2{
    grid-row: 1/15;
    background-color: green;
}
.child_3{
    grid-row: 15/29;
    background-color: green;
}
.child_4{
    grid-row: 1/10;
    background-color: green;
}
.child_5{
    grid-row: 10/19;
    background-color: green;
}
.child_6{
    grid-row: 19/29;
    background-color: green;
}
.child_7{
    grid-row: 1/7;
    background-color: green;
}
.child_8{
    grid-row: 7/15;
    background-color: green;
}
.child_9{
    grid-row: 15/22;
    background-color: green;
}
.child_10{
    grid-row: 22/29;
    background-color: green;
}
.child_11{
    grid-row: 1/5;
    background-color: green;
}
.child_12{
    grid-row: 5/10;
    background-color: green;
}
.child_13{
    grid-row: 10/15;
    background-color: green;
}
.child_14{
    grid-row: 15/20;
    background-color: green;
}
.child_15{
    grid-row: 20/25;
    background-color: green;
}
.child_16{
    grid-row: 25/29;
    background-color: green;
}
.child_17{
    grid-row: 1/3;
    background-color: green;
}
.child_18{
    grid-row: 3/5;
    background-color: green;
}
.child_19{
    grid-row: 5/8;
    background-color: green;
}
.child_20{
    grid-row: 8/10;
    background-color: green;
}
.child_21{
    grid-row: 10/12;
    background-color: green;
}
.child_22{
    grid-row: 12/15;
    background-color: green;
}
.child_23{
    grid-row: 15/17;
    background-color: green;
}
.child_24{
    grid-row: 17/19;
    background-color: green;
}
.child_25{
    grid-row: 19/22;
    background-color: green;
}
.child_26{
    grid-row: 22/24;
    background-color: green;
}
.child_27{
    grid-row: 24/26;
    background-color: green;
}
.child_28{
    grid-row: 26/29;
    background-color: green;
}